/* Typefesse Claire Obscure*/
/* @font-face {
    font-family: "Typefesse Claire Obscure";
    src: url("/font/typefesse-master/Fonts/1-otf/._Typefesse_Claire-Obscure.otf");
    src: url("/font/typefesse-master/Fonts/2-webfonts/._Typefesse_Claire-Obscure.woff")
            format("woff"),
        url("/font/typefesse-master/Fonts/2-webfonts/._Typefesse_Claire-Obscure.eot")
            format("eot"),
        url("/font/typefesse-master/Fonts/2-webfonts/._Typefesse_Claire-Obscure.woff2")
            format("woff2");
    font-weight: normal;
    font-style: normal;
} */

/* Blackout Two AM */
@font-face {
    font-family: "Blackout Two AM";
    src: url("/public/font/blackout-master/blackout-master/source/blackout_two_am.ufo");
    src: url("/public/font/blackout-master/blackout-master/webfonts/blackout_two_am-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("/public/font/blackout-master/blackout-master/webfonts/blackout_two_am-webfont.woff")
            format("woff"),
        url("/mnt/c/Users/inger/board/cumin-imageboard/public/font/blackout-master/Blackoutgood.ttf")
            format("truetype"),
        url("/public/font/blackout-master/blackout-master/webfonts/blackout_two_am-webfont.svg#BlackoutTwoAM")
            format("svg");
    font-weight: normal;
    font-style: normal;
}
input {
    margin: 20px;
}

body {
    /* font-family: "Typefesse Claire Obscure"; */
    font-family: "Blackout Two AM";
}
h1 {
    font-size: 50px;
}
img {
    object-fit: cover;
}
p {
    font-size: 25px;
}
#small-profile-img {
    right: 15px;
    top: 10px;
    position: absolute;
}
.friends-img{
    margin: 15px;
    height: 160px;
    width: 180px;
    object-fit: cover;
}
#friendslist{
height: 470px;
}
#wannabeslist{
   height: 450px;
}
.friend{
   
    border: 1px solid lightblue;
    float: left;
  margin: 10px;
}
.wannabe{
  
    border: 1px solid lightblue;
    float: left;
  margin: 10px;
}
#big-profile-img {
    left: 15px;
    top: 100px;
    position: absolute;

}
#name-surname {
    font-size: 25px;
    left: 250px;
    top: 150px;
    position: absolute;
}
#bio {
    font-size: 15px;
    left: 250px;
    top: 220px;
    position: absolute;
}
#edit-bio {
    font-size: 20px;
    left: 250px;
    top: 270px;
    position: absolute;
}
#bio-editor {
    font-size: 20px;
    left: 250px;
    top: 270px;
    position: absolute;
}
#uploader {
    padding-top: 15px;
    height: 90%;
    width: 90%;
    background-color: rgb(243, 243, 243);
    left: 50px;
    top: 30px;
    position: fixed;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
#uploader-form {
    right: 15px;
    top: 300px;
    position: absolute;
}
.x {
float: right;
margin-right: 45px;
}
.x:hover {
 color: rgb(165, 7, 7);
}

#messages {
    height: 350px;
    width: 80%;
    text-align:center;
    overflow-y: scroll;
}
.messagers-img {
  margin: 5px;
    height: 60px;
    width: 80px;
    object-fit: cover;

}