/*Typefesse Claire Obscure*/
 /* @font-face {
    font-family: "Typefesse Claire Obscure";
    src: url("/font/typefesse-master/Fonts/1-otf/._Typefesse_Claire-Obscure.otf");
    src: url("/font/typefesse-master/Fonts/2-webfonts/._Typefesse_Claire-Obscure.woff")
            format("woff"),
        url("/font/typefesse-master/Fonts/2-webfonts/._Typefesse_Claire-Obscure.eot")
            format("eot"),
        url("/font/typefesse-master/Fonts/2-webfonts/._Typefesse_Claire-Obscure.woff2")
            format("woff2");
    font-weight: normal;
    font-style: normal;
}  */

/* Blackout Two AM */
@font-face {
    font-family: "Blackout Two AM";
    src: url("/public/font/blackout-master/blackout-master/source/blackout_two_am.ufo");
    src: url("/public/font/blackout-master/blackout-master/webfonts/blackout_two_am-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("/public/font/blackout-master/blackout-master/webfonts/blackout_two_am-webfont.woff")
            format("woff"),
        url("/mnt/c/Users/inger/board/cumin-imageboard/public/font/blackout-master/Blackoutgood.ttf")
            format("truetype"),
        url("/public/font/blackout-master/blackout-master/webfonts/blackout_two_am-webfont.svg#BlackoutTwoAM")
            format("svg");
    font-weight: normal;
    font-style: normal;
}
input {
    margin: 20px;
}
/* .change-password {
    text-align: center;
} */
body {
    /* font-family: "Typefesse Claire Obscure"; */
  font-family: 'Patua One', cursive;
}
h2, h3, a {
 font-family: "Blackout Two AM";
 color: rgb(5, 4, 104);
}
h1 {
     font-family: "Blackout Two AM";
    font-size: 65px;
    padding: 0px;
    text-align: center;
}
#color {
    position: absolute;
    height: 100%;
    width: 140px;
    right: 0px;
    top: 0px;
    background-color: rgba(228, 228, 255, 0.801);
}

img {
    object-fit: cover;
}
p {
    font-size: 25px;
}
#small-profile-img {
    right: 45px;
    top: 30px;
    position: absolute;
    border-radius: 50%;
}

.online-users-img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 5px auto;
}
.online-user p {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.online-greet {
    margin: 10px;
}
.chat {
    top:30px;
    position: absolute;
    display: inline-table;
    align-items: center;
    width: 80%;
    padding-top: 15px;
    height: 98%;
    text-align: center;
}
.logo {
    height:50px;
    width: 100px;
    margin-left: 15px;
}
.textarea1 {
    width: 60%;
    height: 80px;
    margin: 10px;
    margin-top: 35px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 15px;
    padding: 15px;
}

.find-people p {
   margin-top: 0px;
   font-size: medium;
}
.find-people img {
     position: relative;
    height: 200px;
    width: 160px;
    object-fit: cover;
}
#online-users-container {
    width: 100px;
    /* display: flex; */
    text-align: center;
    height: auto;
}
#online-users {
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    right: -120px;
    top: 210px;
}
.friends-img{
    margin: 15px;
    height: 160px;
    width: 180px;
    object-fit: cover;
}
#friendslist{
  
height: 500px;
width: 80%;
}
#wannabeslist{
   
   height: 450px;
   width: 80%;
}
.friend{
   
    border: 1px solid lightblue;
    float: left;
  margin: 10px;
}
button {
    margin: 15px;
}
.wannabe{
  
    border: 1px solid lightblue;
    float: left;
  margin: 10px;
}
#big-profile-img {
    left: 35px;
    top: 100px;
    position: absolute;
}
#name-surname {
    font-size: 25px;
    left: 250px;
    top: 150px;
    position: absolute;
}
#bio {
    font-size: 15px;
    left: 250px;
    top: 220px;
    position: absolute;
}
#edit-bio {
    font-size: 20px;
    left: 250px;
    top: 270px;
    position: absolute;
}
#bio-editor {
    font-size: 20px;
    left: 250px;
    top: 270px;
    position: absolute;
}
#uploader {
    padding-top: 15px;
    height: 90%;
    width: 80%;
    background-color: rgb(243, 243, 243);
    left: 50px;
    top: 30px;
    position: fixed;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
#uploader-form {
    right: 50%;
    bottom: 40px;
    position: absolute;
}
.uploader-img {
    position: absolute;
    height: 80%;
    width: auto;
    left: 22%;
    margin: 5px;
}
.x {
position: absolute;
top: 5px;
right: 40px;
}
.x:hover {
 color: rgb(165, 7, 7);
}

#messages {
    box-sizing: border-box;
    height: 380px;
    width: 80%;
    text-align:center;
    overflow-y: scroll;
    margin-left: 100px;;
}
.message {
    border: 1px solid black;
    border-radius: 10px;
    background: #ffffff;
    padding: 15px;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;  
}
.sender {
    float: left;
   
}
.sender p {
     font-size: 15px;
}
.messagers-img {
    border-radius: 50%;
    margin: 5px;
    height: 80px;
    width: 80px;
    object-fit: cover;

}
.frnd-btn {
    position: absolute;
    left: 34px;
    top: 360px;
    padding: 3px 10px;
    border-radius: 10px;
}
.registration, .login, .change-password {
    width: 380px;
    height: 410px;
    padding: 15px;
    position: relative;
    top: 200px;
    margin: auto;
    padding-left: 30px;
    margin-top: -185px;
    background: #f7f7f7f5;
}
.welcome {
    width: 100%;
    height: 100%;
    background-image: url(pic.jpg);
    background-size: cover;
    background-position: center;
}
.users-link {
    float: right;
    position: relative;
    top: 10px;
      right: 10px;
    margin: 10px;
}
.friends-link {
    position: absolute;
    float: right;
    top: 130px;
    right: 10px;
    margin: 10px;
}
.chat-link {
    position: absolute;
    float: right;
    top: 160px;
    right: 65px;
    margin: 10px;
}
.logout-link {
    position: absolute;
    float: right;
    top: 190px;
    right: 47px;
    margin: 10px;
}
.profile-link {
    position: absolute;
    float: right;
    top: 40px;
    right: -245px;
    margin: 10px;
}
.profile-link2 {
    position: absolute;
    float: right;
    top: 70px;
    right: 50px;
    margin: 10px;
}
.f-w-container {
    margin-left: 30px;
}